:root {
    --fuenteHeding: 'PT Sans', sans-serif;
    --fuenteParrafos: 'Open Sans', sans-serif;

    --primario: #784d3c;
    --blanco: #ffffff;
    --negro: #0000;
    --gris: #e1e1e1;
}

.html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: inherit;
}
.body{
    font-family: var(--fuenteParrafos);
    font-size: 1.6rem;
    line-height: 2;
}


/**Globales**/
.contenedor{
    max-width: 50rem;
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4{
    font-family: var(--fuenteHeding);
}

img{
    max-width: 100%;
}

/**Utilidades**/
.no-margin{
    margin: 0;
}
.no-padding {
    padding: 0;
}
.centrar-texto{
    text-align: center;
}
/**Header**/
.header{
    background-image: url(../img/banner.jpg);
    height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header__texto{
    margin-top: 2.5rem;
    text-align: center;
    color: var(--blanco);
}

@media (min-width: 480px) {
    .header__texto{
        margin-top: 7rem;
    }
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 3rem;
    }
}

.logo{
    color: var(--blanco);
    margin: 0 -11rem;
}
.logo__nombre{
    font-weight: 100;
    margin-bottom: 0rem;
}
@media (min-width: 480px) {
    .logo__nombre{
        display: inline-flex;
        font-weight: 100;
        margin-bottom: 0rem;
    }
}
.logo__bold{
    font-weight: 900;
}

@media (min-width: 480px) {
    .navegacion{
        display: flex;
        gap: 2rem;
        margin-left: 36rem;
    }
}

.navegacion__enlace{
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: var(--blanco);
}
@media (min-width: 480px) {
    .navegacion__enlace:last-of-type{
        margin-right: -11rem;
    }
    .contenido-principal{
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }
}

.entrada{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.entrada:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}
.boton{
    display: block;
    font-family: var(--fuenteHeding);
    color: var(--blanco);
    text-align: center;
    padding: .5rem 3rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
@media (min-width: 480px) {
    .boton{
        display:inline-block;
    }
}
.boton--primario{
    background-color: black;
}
.boton--secundario{
    background-color: var(--primario);
}
.cursos{
    list-style: none;
}

.widget-curso{
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}

.widget-curso__label{
    font-family: var(--fuenteHeding);
    font-weight: 700;
}
.widget-curso__info{
    font-weight: 200;
}

.footer{
    text-align: center;
    background-color: black;
    display: block ruby;
    row-gap: 10rem;
}
.footer_h1{
    color: var(--blanco);
    padding: 2rem;
    padding-left: -15rem;
}
.footer__enlace{
    color: var(--blanco);
}
.footer__enlace:last-of-type{
    margin-right: 24rem;
}